.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.product-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-info h2 {
    margin: 0;
    color: #333;
    font-size: 1.2em;
}

.product-info p {
    color: #666;
    font-size: 0.9em;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: #999;
}

.discount-price {
    color: #e44d26;
    font-weight: bold;
}

.product-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.product-details span {
    color: #666;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  